## Imports

In [860]:
import pandas as pd

from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import accuracy_score

## Data load

In [861]:
ROOT_PATH = '../'
DATASET_NAME = 'ebnerd_demo'

In [862]:
articles_parquet = pd.read_parquet(f'{ROOT_PATH}/data/{DATASET_NAME}/articles.parquet')
articles_parquet.head()

,article_id,title,subtitle,last_modified_time,premium,body,published_time,image_ids,article_type,url,...,entity_groups,topics,category,subcategory,category_str,total_inviews,total_pageviews,total_read_time,sentiment_score,sentiment_label
0,3037230,Ishockey-spiller: Jeg troede jeg skulle dø,ISHOCKEY: Ishockey-spilleren Sebastian Harts h...,2023-06-29 06:20:57,False,Ambitionerne om at komme til USA og spille ish...,2003-08-28 08:55:00,None,article_default,https://ekstrabladet.dk/sport/anden_sport/isho...,...,[],"[Kriminalitet, Kendt, Sport, Katastrofe, Mindr...",142,"[327, 334]",sport,NaN,NaN,NaN,0.9752,Negative
1,3044020,Prins Harry tvunget til dna-test,Hoffet tvang Prins Harry til at tage dna-test ...,2023-06-29 06:21:16,False,Den britiske tabloidavis The Sun fortsætter me...,2005-06-29 08:47:00,"[3097307, 3097197, 3104927]",article_default,https://ekstrabladet.dk/underholdning/udlandke...,...,"[PER, PER]","[Kriminalitet, Kendt, Underholdning, Personfar...",414,[432],underholdning,NaN,NaN,NaN,0.7084,Negative
2,3057622,Rådden kørsel på blå plader,Kan ikke straffes: Udenlandske diplomater i Da...,2023-06-29 06:21:24,False,Slingrende spritkørsel. Grove overtrædelser af...,2005-10-10 07:20:00,[3047102],article_default,https://ekstrabladet.dk/nyheder/samfund/articl...,...,[],"[Kriminalitet, Transportmiddel, Bil]",118,[133],nyheder,NaN,NaN,NaN,0.9236,Negative
3,3073151,Mærsk-arvinger i livsfare,FANGET I FLODBØLGEN: Skibsrederens oldebørn må...,2023-06-29 06:21:38,False,To oldebørn af skibsreder Mærsk McKinney Mølle...,2005-01-04 06:59:00,"[3067474, 3067478, 3153705]",article_default,https://ekstrabladet.dk/nyheder/samfund/articl...,...,[],"[Erhverv, Privat virksomhed, Livsstil, Familie...",118,[133],nyheder,NaN,NaN,NaN,0.9945,Negative
4,3193383,Skød svigersøn gennem babydyne,44-årig kvinde tiltalt for drab på ekssvigersø...,2023-06-29 06:22:57,False,En 44-årig mormor blev i dag fremstillet i et ...,2003-09-15 15:30:00,None,article_default,https://ekstrabladet.dk/krimi/article3193383.ece,...,[],"[Kriminalitet, Personfarlig kriminalitet]",140,[],krimi,NaN,NaN,NaN,0.9966,Negative

In [863]:
history_parquet = pd.read_parquet(f'{ROOT_PATH}/data/{DATASET_NAME}/train/history.parquet')
history_parquet.head()

,user_id,impression_time_fixed,scroll_percentage_fixed,article_id_fixed,read_time_fixed
0,13538,"[2023-04-27T10:17:43.000000, 2023-04-27T10:18:...","[100.0, 35.0, 100.0, 24.0, 100.0, 23.0, 100.0,...","[9738663, 9738569, 9738663, 9738490, 9738663, ...","[17.0, 12.0, 4.0, 5.0, 4.0, 9.0, 5.0, 46.0, 11..."
1,58608,"[2023-04-27T18:48:09.000000, 2023-04-27T18:48:...","[37.0, 61.0, 100.0, 100.0, 55.0, 100.0, 100.0,...","[9739362, 9739179, 9738567, 9739344, 9739202, ...","[2.0, 24.0, 72.0, 65.0, 11.0, 4.0, 101.0, 0.0,..."
2,95507,"[2023-04-27T15:20:28.000000, 2023-04-27T15:20:...","[60.0, 100.0, 100.0, 21.0, 29.0, 67.0, 49.0, 5...","[9739035, 9738646, 9634967, 9738902, 9735495, ...","[18.0, 29.0, 51.0, 12.0, 10.0, 10.0, 13.0, 24...."
3,106588,"[2023-04-27T08:29:09.000000, 2023-04-27T08:29:...","[24.0, 57.0, 100.0, nan, nan, 100.0, 100.0, 73...","[9738292, 9738216, 9737266, 9737556, 9737657, ...","[9.0, 15.0, 42.0, 9.0, 3.0, 58.0, 26.0, 214.0,..."
4,617963,"[2023-04-27T14:42:25.000000, 2023-04-27T14:43:...","[100.0, 100.0, nan, 46.0, 23.0, 19.0, 61.0, 70...","[9739035, 9739088, 9738902, 9738968, 9738760, ...","[45.0, 29.0, 116.0, 26.0, 34.0, 42.0, 58.0, 59..."

In [864]:
behaviors_parquet = pd.read_parquet(f'{ROOT_PATH}/data/{DATASET_NAME}/train/behaviors.parquet', engine='pyarrow')

behaviors_parquet.head()

,impression_id,article_id,impression_time,read_time,scroll_percentage,device_type,article_ids_inview,article_ids_clicked,user_id,is_sso_user,gender,postcode,age,is_subscriber,session_id,next_read_time,next_scroll_percentage
0,48401,NaN,2023-05-21 21:06:50,21.0,NaN,2,"[9774516, 9771051, 9770028, 9775402, 9774461, ...",[9759966],22779,False,NaN,NaN,NaN,False,21,16.0,27.0
1,152513,9778745.0,2023-05-24 07:31:26,30.0,100.0,1,"[9778669, 9778736, 9778623, 9089120, 9778661, ...",[9778661],150224,False,NaN,NaN,NaN,False,298,2.0,48.0
2,155390,NaN,2023-05-24 07:30:33,45.0,NaN,1,"[9778369, 9777856, 9778500, 9778021, 9778627, ...",[9777856],160892,False,NaN,NaN,NaN,False,401,215.0,100.0
3,214679,NaN,2023-05-23 05:25:40,33.0,NaN,2,"[9776715, 9776406, 9776566, 9776071, 9776808, ...",[9776566],1001055,False,NaN,NaN,NaN,False,1357,40.0,47.0
4,214681,NaN,2023-05-23 05:31:54,21.0,NaN,2,"[9775202, 9776855, 9776688, 9771995, 9776583, ...",[9776553],1001055,False,NaN,NaN,NaN,False,1358,5.0,49.0

## Build dataframe with users and viewed articles

In [865]:
user_viewed_articles = history_parquet.explode(['scroll_percentage_fixed', 'article_id_fixed', 'read_time_fixed']).reset_index(drop=True)
user_viewed_articles.drop(columns=['impression_time_fixed'], inplace=True)

user_viewed_articles.head()

   user_id scroll_percentage_fixed article_id_fixed read_time_fixed
0    13538                   100.0          9738663            17.0
1    13538                    35.0          9738569            12.0
2    13538                   100.0          9738663             4.0
3    13538                    24.0          9738490             5.0
4    13538                   100.0          9738663             4.0

## Build dataframe with users and skipped articles

In [866]:
behaviors_parquet['article_ids_skipped'] = list(behaviors_parquet['article_ids_inview'].map(set) - behaviors_parquet['article_ids_clicked'].map(set))

behaviors_parquet.head()

,impression_id,article_id,impression_time,read_time,scroll_percentage,device_type,article_ids_inview,article_ids_clicked,user_id,is_sso_user,gender,postcode,age,is_subscriber,session_id,next_read_time,next_scroll_percentage,article_ids_skipped
0,48401,NaN,2023-05-21 21:06:50,21.0,NaN,2,"[9774516, 9771051, 9770028, 9775402, 9774461, ...",[9759966],22779,False,NaN,NaN,NaN,False,21,16.0,27.0,"{9775331, 9775402, 9771051, 9770028, 9775371, ..."
1,152513,9778745.0,2023-05-24 07:31:26,30.0,100.0,1,"[9778669, 9778736, 9778623, 9089120, 9778661, ...",[9778661],150224,False,NaN,NaN,NaN,False,298,2.0,48.0,"{9080070, 9420172, 9777492, 9717914, 9718298, ..."
2,155390,NaN,2023-05-24 07:30:33,45.0,NaN,1,"[9778369, 9777856, 9778500, 9778021, 9778627, ...",[9777856],160892,False,NaN,NaN,NaN,False,401,215.0,100.0,"{9778369, 9778627, 9778500, 9778021, 9778628, ..."
3,214679,NaN,2023-05-23 05:25:40,33.0,NaN,2,"[9776715, 9776406, 9776566, 9776071, 9776808, ...",[9776566],1001055,False,NaN,NaN,NaN,False,1357,40.0,47.0,"{9776071, 9776808, 9776855, 9776715, 9776046, ..."
4,214681,NaN,2023-05-23 05:31:54,21.0,NaN,2,"[9775202, 9776855, 9776688, 9771995, 9776583, ...",[9776553],1001055,False,NaN,NaN,NaN,False,1358,5.0,49.0,"{9776449, 9776583, 9776071, 9776855, 9771995, ..."

In [867]:
user_skipped_articles = behaviors_parquet.explode('article_ids_skipped').reset_index(drop=True)
user_skipped_articles.head()

,impression_id,article_id,impression_time,read_time,scroll_percentage,device_type,article_ids_inview,article_ids_clicked,user_id,is_sso_user,gender,postcode,age,is_subscriber,session_id,next_read_time,next_scroll_percentage,article_ids_skipped
0,48401,NaN,2023-05-21 21:06:50,21.0,NaN,2,"[9774516, 9771051, 9770028, 9775402, 9774461, ...",[9759966],22779,False,NaN,NaN,NaN,False,21,16.0,27.0,9775331
1,48401,NaN,2023-05-21 21:06:50,21.0,NaN,2,"[9774516, 9771051, 9770028, 9775402, 9774461, ...",[9759966],22779,False,NaN,NaN,NaN,False,21,16.0,27.0,9775402
2,48401,NaN,2023-05-21 21:06:50,21.0,NaN,2,"[9774516, 9771051, 9770028, 9775402, 9774461, ...",[9759966],22779,False,NaN,NaN,NaN,False,21,16.0,27.0,9771051
3,48401,NaN,2023-05-21 21:06:50,21.0,NaN,2,"[9774516, 9771051, 9770028, 9775402, 9774461, ...",[9759966],22779,False,NaN,NaN,NaN,False,21,16.0,27.0,9770028
4,48401,NaN,2023-05-21 21:06:50,21.0,NaN,2,"[9774516, 9771051, 9770028, 9775402, 9774461, ...",[9759966],22779,False,NaN,NaN,NaN,False,21,16.0,27.0,9775371

In [868]:
user_skipped_articles = user_skipped_articles[['user_id', 'article_ids_skipped']]
user_skipped_articles['read_time_fixed'] = -1
user_skipped_articles['scroll_percentage_fixed'] = -1

user_skipped_articles.rename(columns={'article_ids_skipped': 'article_id_fixed'}, inplace=True)

user_skipped_articles.head()

   user_id article_id_fixed  read_time_fixed  scroll_percentage_fixed
0    22779          9775331               -1                       -1
1    22779          9775402               -1                       -1
2    22779          9771051               -1                       -1
3    22779          9770028               -1                       -1
4    22779          9775371               -1                       -1

## Concat the two dataframes

In [869]:
user_articles_all = pd.concat([user_skipped_articles, user_viewed_articles])

In [870]:
len(user_articles_all)

511628

In [871]:
user_articles_all.head()

   user_id article_id_fixed read_time_fixed scroll_percentage_fixed
0    22779          9775331              -1                      -1
1    22779          9775402              -1                      -1
2    22779          9771051              -1                      -1
3    22779          9770028              -1                      -1
4    22779          9775371              -1                      -1

In [872]:
user_articles_all.tail()

        user_id article_id_fixed read_time_fixed scroll_percentage_fixed
258313  2539047          9755010             5.0                   100.0
258314  2539047          9755980            17.0                   100.0
258315  2539047          9755980            10.0                   100.0
258316  2539047          9755648             3.0                    19.0
258317  2539047          9755980             2.0                   100.0

In [873]:
groups = user_articles_all.groupby(['article_id_fixed', 'user_id']).size()

groups[groups > 100]

article_id_fixed  user_id
4543921           2110847    279
9432404           388844     217
9758326           765092     114
9762058           1377811    103
9762249           2201343    103
dtype: int64

In [874]:
user_articles_max_read_time = user_articles_all.groupby(['user_id', 'article_id_fixed'])['read_time_fixed'].max().reset_index()

print(user_articles_max_read_time)

        user_id  article_id_fixed read_time_fixed
0         11313           9251369           299.0
1         11313           9730301           323.0
2         11313           9733713             7.0
3         11313           9737535          1038.0
4         11313           9738292            32.0
...         ...               ...             ...
397798  2589391           9770798            18.0
397799  2589391           9778351            -1.0
397800  2589391           9778375            -1.0
397801  2589391           9778413            -1.0
397802  2589391           9778422            -1.0

[397803 rows x 3 columns]

In [875]:
matrix = user_articles_max_read_time.pivot(index='article_id_fixed', columns='user_id', values='read_time_fixed')

matrix.head()

user_id,11313,13538,15430,19181,19568,19892,19993,21271,21774,22779,...,2573441,2574644,2575952,2578206,2579603,2581162,2583035,2583477,2585449,2589391
article_id_fixed,,,,,,,,,,,,,,,,,,,,,
3044020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3073151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3971783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3983641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [876]:
matrix.tail()

user_id,11313,13538,15430,19181,19568,19892,19993,21271,21774,22779,...,2573441,2574644,2575952,2578206,2579603,2581162,2583035,2583477,2585449,2589391
article_id_fixed,,,,,,,,,,,,,,,,,,,,,
9780162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9780181,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,...,NaN,-1.0,-1.0,NaN,NaN,-1.0,NaN,NaN,NaN,NaN
9780193,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,...,NaN,-1.0,-1.0,NaN,NaN,-1.0,NaN,NaN,NaN,NaN
9780195,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9780271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [877]:
matrix.fillna(-1, inplace=True)

C:\Users\daniel.georgiev\AppData\Local\Temp\ipykernel_71280\2604629175.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  matrix.fillna(-1, inplace=True)

In [878]:
print(matrix.iloc[5626, len(matrix.columns)-1])

-1.0

In [879]:
matrix.tail()

user_id,11313,13538,15430,19181,19568,19892,19993,21271,21774,22779,...,2573441,2574644,2575952,2578206,2579603,2581162,2583035,2583477,2585449,2589391
article_id_fixed,,,,,,,,,,,,,,,,,,,,,
9780162,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
9780181,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
9780193,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
9780195,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
9780271,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [880]:
df1 = matrix.copy()
number_neighbors = 30
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(matrix.values)
distances, indices = knn.kneighbors(matrix.values, n_neighbors=number_neighbors)

In [881]:
def recommend_articles(user, articles_inview):
    recommended_articles = []

    # Precompute index lists for efficiency
    article_indices = matrix.index.tolist()
    user_indices = df1.columns.tolist()

    user_index = user_indices.index(user)

    for a in articles_inview:
        article_index = article_indices.index(a)
        predicted_rating = df1.iloc[article_index, user_index]
        
        recommended_articles.append((a, predicted_rating))

    sorted_ra = sorted(recommended_articles, key=lambda x: x[1], reverse=True)
    print(sorted_ra)
    return sorted_ra[0]  # Or return more items if needed

In [882]:
def article_recommender(user, num_neighbours, articles_inview):
    number_neighbors = num_neighbours

    knn = NearestNeighbors(metric='cosine', algorithm='brute')
    knn.fit(matrix.values)
    distances, indices = knn.kneighbors(matrix.values, n_neighbors=number_neighbors)

    user_index = matrix.columns.tolist().index(user)

    for article_id in articles_inview:
        a = matrix.index.tolist().index(article_id)

        if matrix.iloc[a, user_index] <= 0:
            sim_articles = indices[a].tolist()
            article_distances = distances[a].tolist()

            if a in sim_articles:
                id_article = sim_articles.index(a)
                sim_articles.remove(a)
                article_distances.pop(id_article)
            else:
                sim_articles = sim_articles[:num_neighbours-1]
                article_distances = article_distances[:num_neighbours-1]

            article_similarity = [1-x for x in article_distances]
            article_similarity_copy = article_similarity.copy()
            nominator = 0

            to_remove = []
            for s in range(len(article_similarity)):
                if matrix.iloc[sim_articles[s], user_index] <= 0:
                    to_remove.append(s)
                else:
                    nominator += article_similarity[s] * matrix.iloc[sim_articles[s], user_index]

            # Remove all invalid articles
            for idx in sorted(to_remove, reverse=True):
                article_similarity_copy.pop(idx)

            if len(article_similarity_copy) != 0:
                if sum(article_similarity_copy) > 0:
                    predicted_r = nominator/sum(article_similarity_copy)
                elif sum(article_similarity_copy) < 0:
                    predicted_r = -(nominator/sum(article_similarity_copy))
                else:
                    predicted_r = -1
            else:
                predicted_r = -1
                
            df1.iloc[a, user_index] = predicted_r

    return recommend_articles(user, articles_inview)

In [883]:
X = behaviors_parquet[['user_id', 'article_ids_inview']][1000:1100]
y = behaviors_parquet['article_ids_clicked'][1000:1100]

In [884]:
X

      user_id                                 article_ids_inview
1000   667805  [9778657, 9778661, 9777492, 9778623, 9778682, ...
1001   667805  [9778216, 9759955, 9778413, 9569756, 9778328, ...
1002   667805  [9778216, 9777856, 9778369, 9778226, 9777034, ...
1003   667805  [9778500, 9777190, 7213923, 9778386, 9569756, ...
1004   667805  [9778386, 9777034, 9778007, 9778448, 9759955, ...
...       ...                                                ...
1095   642707  [9310988, 9777043, 9142564, 9020783, 9775908, ...
1096   642707      [9777345, 9776985, 9777079, 9777299, 9776918]
1097   642707  [9774840, 9770450, 9776882, 9774923, 9747329, ...
1098   659898  [9777308, 9777299, 9777358, 9759955, 9777000, ...
1099  1938246      [9771626, 9765759, 9771168, 9771351, 9771151]

[100 rows x 2 columns]

In [885]:
y

1000    [9778444]
1001    [9778328]
1002    [9777856]
1003    [9778500]
1004    [9778413]
          ...
1095    [9777043]
1096    [9777079]
1097    [9776851]
1098    [9777079]
1099    [9771151]
Name: article_ids_clicked, Length: 100, dtype: object

In [886]:
def predict(X, n_neighbors):
    y_hat = X.apply(lambda x: article_recommender(x['user_id'], n_neighbors, x['article_ids_inview']), axis=1)
    return y_hat

y_hat = predict(X, 10)

[(9778657, -1.0), (9778661, -1.0), (9777492, -1.0), (9778623, -1.0), (9778682, -1.0), (9778444, -1.0)]
[(9695098, 68.0), (9778216, -1.0), (9759955, -1.0), (9778413, -1.0), (9569756, -1.0), (9778328, -1.0), (9778375, -1.0), (9510890, -1.0), (9778158, -1.0), (9778386, -1.0), (9521552, -1.0), (9777190, -1.0), (9777307, -1.0), (9778007, -1.0), (7213923, -1.0), (9778422, -1.0)]
[(9778216, -1.0), (9777856, -1.0), (9778369, -1.0), (9778226, -1.0), (9777034, -1.0), (9778155, -1.0), (9778351, -1.0), (9777190, -1.0), (9778007, -1.0), (9778386, -1.0), (9778021, -1.0), (7213923, -1.0), (9778448, -1.0), (9778627, -1.0), (9569756, -1.0), (9778444, -1.0), (9777397, -1.0), (9521552, -1.0), (9510890, -1.0), (9778628, -1.0)]
[(9778500, -1.0), (9777190, -1.0), (7213923, -1.0), (9778386, -1.0), (9569756, -1.0), (9510890, -1.0), (9778216, -1.0), (9521552, -1.0), (9778007, -1.0)]
[(9695098, 68.0), (9778386, -1.0), (9777034, -1.0), (9778007, -1.0), (9778448, -1.0), (9759955, -1.0), (9778628, -1.0), (9778627, -1.0), (9778500, -1.0), (9778328, -1.0), (9778155, -1.0), (9778216, -1.0), (9777307, -1.0), (9778158, -1.0), (9778226, -1.0), (9776420, -1.0), (9778422, -1.0), (9778623, -1.0), (9778657, -1.0), (9778021, -1.0), (9778375, -1.0), (9778682, -1.0), (9778413, -1.0), (9777190, -1.0), (9778351, -1.0)]
[(9778627, -1.0), (9767490, -1.0), (9778669, -1.0), (9777492, -1.0), (9778628, -1.0), (9778686, -1.0), (9778657, -1.0), (9738729, -1.0)]
[(9776420, -1.0), (9774079, -1.0), (9778302, -1.0), (9778007, -1.0), (9777811, -1.0), (9761586, -1.0), (9625707, -1.0), (9777464, -1.0), (9778326, -1.0), (9749014, -1.0), (9776922, -1.0), (9777582, -1.0), (9778257, -1.0), (9778310, -1.0), (9778277, -1.0), (9778386, -1.0), (9669701, -1.0), (9773877, -1.0), (9777397, -1.0), (9778381, -1.0), (9777190, -1.0), (9778139, -1.0), (9774074, -1.0), (9760046, -1.0), (9778216, -1.0), (9778168, -1.0), (9774297, -1.0), (9778318, -1.0)]
[(9776985, -1.0), (9777492, -1.0), (9777856, -1.0), (9778657, -1.0), (9777034, -1.0), (9778628, -1.0), (9778369, -1.0), (9778448, -1.0), (9778444, -1.0), (9695098, -1.0), (9778701, -1.0), (9778661, -1.0), (9778623, -1.0), (9778682, -1.0), (9778500, -1.0), (9570877, -1.0), (9749637, -1.0), (9777397, -1.0), (9778021, -1.0), (9778627, -1.0), (9778226, -1.0), (9778718, -1.0), (9759955, -1.0), (9778669, -1.0), (9778351, -1.0), (9766225, -1.0), (9503569, -1.0)]
[(9758432, 114.0), (9750696, 34.0), (9778351, -1.0), (9616368, -1.0), (9777750, -1.0), (9778369, -1.0), (9777856, -1.0)]
[(9778375, -1.0), (9778328, -1.0), (9778386, -1.0), (9777856, -1.0), (9778500, -1.0), (9778369, -1.0), (9778422, -1.0)]
[(9772923, -1.0), (9772925, -1.0), (9772830, -1.0), (9772813, -1.0), (9773078, -1.0), (9772485, -1.0), (9772873, -1.0), (9440508, -1.0), (9432542, -1.0), (9772557, -1.0), (9771568, -1.0), (9553264, -1.0), (9394654, -1.0), (9772903, -1.0), (9771248, -1.0), (9773014, -1.0), (9772869, -1.0), (9771627, -1.0)]
[(9696697, -1.0), (9772485, -1.0), (9659345, -1.0), (9737594, -1.0), (9651229, -1.0)]
[(9769892, -1.0), (9527795, -1.0), (9768193, -1.0), (9440508, -1.0), (9769800, -1.0), (9773018, -1.0), (9772710, -1.0), (9770390, -1.0), (9773078, -1.0), (9773015, -1.0), (9772963, -1.0), (9772502, -1.0), (9771248, -1.0), (9772343, -1.0), (9769624, -1.0), (9391394, -1.0), (9767417, -1.0), (9771859, -1.0), (8918299, -1.0), (9772485, -1.0), (9772772, -1.0), (9773014, -1.0), (9773070, -1.0)]
[(9769367, 184.63113221975712), (9746360, 31.537128021040537), (9767474, 8.080888522100095), (9769800, -1.0), (9772751, -1.0), (9753907, -1.0), (9771568, -1.0), (9772750, -1.0), (9772241, -1.0), (9772925, -1.0), (9771859, -1.0), (9772805, -1.0), (9772813, -1.0), (9772297, -1.0), (9772632, -1.0), (8422665, -1.0), (9676230, -1.0), (9772367, -1.0), (9695098, -1.0), (9772768, -1.0), (9761859, -1.0), (9770638, -1.0), (9695054, -1.0), (9771248, -1.0), (9772858, -1.0), (9768328, -1.0), (9762122, -1.0), (9772502, -1.0), (9771113, -1.0), (9772099, -1.0), (9771627, -1.0), (9394654, -1.0), (9772557, -1.0), (9391394, -1.0), (9734062, -1.0), (9772668, -1.0), (9769624, -1.0), (9510857, -1.0), (9772963, -1.0), (9772882, -1.0), (9772575, -1.0), (9772727, -1.0), (9772543, -1.0), (9772343, -1.0), (9772772, -1.0), (9772517, -1.0), (9772873, -1.0), (9772835, -1.0), (9772448, -1.0), (9768308, -1.0), (9772660, -1.0), (9772029, -1.0), (9772830, -1.0), (9772903, -1.0), (9772923, -1.0), (9772869, -1.0), (9732825, -1.0)]
[(9774079, -1.0), (9774252, -1.0), (9773887, -1.0), (7213923, -1.0), (9772032, -1.0), (9772545, -1.0), (9774321, -1.0), (9773857, -1.0), (9773846, -1.0), (9774142, -1.0), (9769531, -1.0), (9774297, -1.0), (9774187, -1.0), (9774352, -1.0), (9767665, -1.0), (9773350, -1.0), (9746360, -1.0), (9765941, -1.0), (9770028, -1.0), (9774074, -1.0), (9771996, -1.0), (9527795, -1.0)]
[(9774252, -1.0), (9774321, -1.0), (9769531, -1.0), (9773857, -1.0), (9774079, -1.0), (9774297, -1.0), (9765941, -1.0), (9772545, -1.0), (9455566, -1.0), (9708512, -1.0), (9771996, -1.0), (9774352, -1.0), (9770028, -1.0), (9514481, -1.0), (9774074, -1.0)]
[(9774120, -1.0), (9774252, -1.0), (9773846, -1.0), (9774074, -1.0), (9773857, -1.0), (9769624, -1.0), (9769531, -1.0), (9774321, -1.0), (9765941, -1.0), (9772601, -1.0), (9771996, -1.0), (9774187, -1.0), (9772284, -1.0), (9774079, -1.0), (9774287, -1.0), (9772300, -1.0), (9767665, -1.0), (9770028, -1.0), (9772453, -1.0), (9774020, -1.0), (9772545, -1.0), (9773673, -1.0), (9774376, -1.0)]
[(9773078, -1.0), (9772710, -1.0), (9773018, -1.0), (9772343, -1.0), (9771248, -1.0), (9773070, -1.0)]
[(9459174, 77.0), (9773015, -1.0), (9772772, -1.0), (9772502, -1.0), (9771859, -1.0), (9769624, -1.0), (9769800, -1.0)]
[(9459174, 13.00308419384705), (9772343, -1.0), (9772772, -1.0), (9772873, -1.0), (9772923, -1.0), (9769624, -1.0), (9773018, -1.0), (9772925, -1.0), (9474230, -1.0), (9772963, -1.0), (9771859, -1.0), (9772502, -1.0), (9769800, -1.0), (9773014, -1.0), (9771248, -1.0), (9773015, -1.0), (7213923, -1.0)]
[(9769800, -1.0), (9772343, -1.0), (9772858, -1.0), (9772772, -1.0), (9773014, -1.0), (9771248, -1.0), (9771627, -1.0), (9695098, -1.0), (9772925, -1.0), (9772882, -1.0), (9772750, -1.0), (9762122, -1.0), (9773018, -1.0), (9772869, -1.0), (9772557, -1.0), (9746360, -1.0), (9496538, -1.0), (9772873, -1.0), (9772923, -1.0), (9772805, -1.0), (9769624, -1.0), (9771919, -1.0), (9771568, -1.0), (9772813, -1.0), (9773015, -1.0), (9772485, -1.0), (9772502, -1.0), (9772830, -1.0), (9772963, -1.0), (9772241, -1.0), (9772903, -1.0), (9772768, -1.0), (9771859, -1.0)]
[(9772869, -1.0), (9772925, -1.0), (9768819, -1.0), (9772485, -1.0), (9772923, -1.0), (9772873, -1.0), (9772903, -1.0)]
[(9773015, -1.0), (9772772, -1.0), (9771859, -1.0), (9769800, -1.0), (9772502, -1.0)]
[(9772923, -1.0), (9772869, -1.0), (9772873, -1.0), (9019947, -1.0), (9769624, -1.0), (9772925, -1.0)]
[(9772241, -1.0), (9769624, -1.0), (9772772, -1.0), (9772869, -1.0), (9772830, -1.0), (9772343, -1.0), (9772963, -1.0), (9772813, -1.0), (9772502, -1.0), (9773015, -1.0), (9772923, -1.0), (9772873, -1.0), (9772903, -1.0), (8940172, -1.0), (9771248, -1.0), (9772925, -1.0), (9553264, -1.0)]
[(9772835, -1.0), (9768685, -1.0), (9772632, -1.0), (9772543, -1.0), (9772751, -1.0), (9769800, -1.0), (9772099, -1.0), (9772575, -1.0), (9771859, -1.0), (9773014, -1.0), (9761859, -1.0), (9772660, -1.0), (9771627, -1.0), (9772925, -1.0), (9772727, -1.0), (9771113, -1.0), (9770792, -1.0), (9772869, -1.0), (9772343, -1.0), (9772750, -1.0), (9768308, -1.0), (9773015, -1.0), (9772873, -1.0)]
[(9770541, 12.748824508239935), (9735224, -1.0), (9772557, -1.0), (9769800, -1.0), (9772963, -1.0), (9770997, -1.0), (9772241, -1.0), (9772772, -1.0), (9772858, -1.0), (9772813, -1.0), (9771248, -1.0), (9772873, -1.0), (9773014, -1.0), (9771859, -1.0), (9769624, -1.0), (9772925, -1.0), (9772343, -1.0), (9772869, -1.0), (9420172, -1.0), (9772502, -1.0), (9772830, -1.0), (9772923, -1.0), (9772903, -1.0), (9773015, -1.0), (9552242, -1.0)]
[(9769892, 209.0), (9770218, 108.67690448276666), (9770541, 12.748824508239935), (9772263, -1.0), (9772241, -1.0), (9771627, -1.0), (9773014, -1.0), (9769800, -1.0), (9773015, -1.0), (9772557, -1.0), (9772805, -1.0), (9772750, -1.0), (9772858, -1.0), (9772903, -1.0), (9772813, -1.0), (9772869, -1.0), (9772882, -1.0), (9772830, -1.0), (9772873, -1.0), (9771859, -1.0)]
[(9770792, -1.0), (9772517, -1.0), (9768685, -1.0), (9772835, -1.0), (9772367, -1.0)]
[(9649560, 82.0), (9757698, 77.0), (9417521, 1.0), (9772963, -1.0), (9769624, -1.0), (9772923, -1.0), (9772343, -1.0), (9772772, -1.0), (9772869, -1.0), (9772903, -1.0), (9772502, -1.0), (9772925, -1.0), (9772873, -1.0), (9769800, -1.0), (9771859, -1.0), (9772668, -1.0), (9771248, -1.0), (9721993, -1.0), (9657509, -1.0)]
[(9769892, 209.0), (9768819, 10.0), (9769800, -1.0), (9772923, -1.0), (9771248, -1.0), (9772343, -1.0), (9772925, -1.0), (9772903, -1.0), (9772830, -1.0), (9772768, -1.0), (9773015, -1.0), (9773014, -1.0), (9772873, -1.0), (9772750, -1.0), (9772805, -1.0), (9391394, -1.0), (9772858, -1.0), (9762122, -1.0), (9772813, -1.0), (9771859, -1.0), (9771627, -1.0), (9769624, -1.0), (9772963, -1.0), (9772241, -1.0), (9771568, -1.0), (9772882, -1.0)]
[(9701446, 16.50060640636948), (9772502, -1.0), (9664250, -1.0), (9679140, -1.0), (9651229, -1.0), (9772772, -1.0), (9772963, -1.0), (9772343, -1.0)]
[(9772502, -1.0), (9773015, -1.0), (9771248, -1.0), (9772772, -1.0), (9773018, -1.0), (9773014, -1.0), (9772343, -1.0), (9772485, -1.0), (9772963, -1.0)]
[(9773279, -1.0), (9773873, -1.0), (9773877, -1.0), (9773962, -1.0), (9773900, -1.0), (9773943, -1.0), (9774013, -1.0), (9773852, -1.0), (9773486, -1.0)]
[(9768829, 3.0), (6741781, -1.0), (9773873, -1.0), (9773673, -1.0), (9539706, -1.0), (9773726, -1.0), (9772678, -1.0), (9420172, -1.0), (9773278, -1.0), (9773877, -1.0), (9773852, -1.0), (9772557, -1.0), (9773279, -1.0), (9773943, -1.0), (9771009, -1.0), (9773900, -1.0), (9773744, -1.0), (9773962, -1.0), (9773470, -1.0), (9345280, -1.0), (9773566, -1.0), (9773866, -1.0)]
[(9772866, -1.0), (9773744, -1.0), (9773543, -1.0), (9773617, -1.0), (9773900, -1.0), (9773210, -1.0), (9771113, -1.0), (9773700, -1.0), (9772659, -1.0), (9773711, -1.0), (9773877, -1.0), (9771009, -1.0), (9773279, -1.0), (9772300, -1.0), (9773943, -1.0), (9773873, -1.0), (9695098, -1.0), (9773470, -1.0), (9773697, -1.0), (9773278, -1.0), (9773825, -1.0), (9773852, -1.0), (9769624, -1.0), (9755712, -1.0), (9746360, -1.0), (9772678, -1.0), (9773727, -1.0), (9773295, -1.0), (9773768, -1.0), (9773282, -1.0), (9773962, -1.0)]
[(9695098, 312.0), (9482970, 195.99999999999997), (9773825, -1.0), (9771009, -1.0), (9771151, -1.0), (9773873, -1.0), (9773900, -1.0), (9773852, -1.0), (9755800, -1.0), (9773744, -1.0), (9773566, -1.0), (9773866, -1.0), (9773673, -1.0), (9773282, -1.0), (9735909, -1.0), (9142581, -1.0), (9436758, -1.0), (9773278, -1.0), (9773711, -1.0), (9773726, -1.0), (9769624, -1.0), (9773470, -1.0), (9772678, -1.0), (9769504, -1.0), (9746360, -1.0), (9773279, -1.0), (9773543, -1.0), (9773700, -1.0), (9193263, -1.0), (9773768, -1.0)]
[(9773612, -1.0), (9773275, -1.0), (9772557, -1.0), (9773539, -1.0), (9773461, -1.0), (9773574, -1.0), (9761784, -1.0), (9760758, -1.0), (9772279, -1.0), (9773638, -1.0), (9772284, -1.0)]
[(9773877, -1.0), (9774013, -1.0), (9773962, -1.0), (9773873, -1.0), (9773987, -1.0)]
[(9773866, -1.0), (9773279, -1.0), (9193263, -1.0), (9773852, -1.0), (9773470, -1.0), (9773566, -1.0), (9773726, -1.0), (9773962, -1.0), (9773900, -1.0), (9773877, -1.0), (9773943, -1.0), (9771009, -1.0), (9755800, -1.0)]
[(9774321, -1.0), (9774252, -1.0), (9770028, -1.0), (9771996, -1.0), (9774187, -1.0), (9773857, -1.0), (9193263, -1.0)]
[(9769917, 24.31324129630125), (9738868, -1.0), (9771627, -1.0), (9744479, -1.0), (9725725, -1.0), (9755712, -1.0), (9760140, -1.0), (9742173, -1.0), (9728166, -1.0), (9769341, -1.0), (9768308, -1.0), (9759717, -1.0), (9761859, -1.0)]
[(9771999, -1.0), (9774532, -1.0), (9492619, -1.0), (9774764, -1.0), (9774580, -1.0), (9771992, -1.0), (9774789, -1.0), (9774542, -1.0), (9775079, -1.0), (9774899, -1.0), (9774972, -1.0)]
[(9773887, -1.0), (9757574, -1.0), (9757360, -1.0), (9744206, -1.0), (9771999, -1.0), (9492619, -1.0)]
[(9695098, -1.0), (9770028, -1.0), (9775042, -1.0), (9492619, -1.0), (9775003, -1.0), (9769557, -1.0), (9772957, -1.0), (9774554, -1.0), (9771999, -1.0), (9774358, -1.0), (9746360, -1.0), (9757574, -1.0), (9774840, -1.0), (9738729, -1.0)]
[(9744206, -1.0), (9492619, -1.0), (9774864, -1.0), (9774404, -1.0), (9757574, -1.0), (9774803, -1.0), (9769581, -1.0), (9774015, -1.0), (9769624, -1.0), (9774383, -1.0), (9774527, -1.0), (9773003, -1.0), (9765941, -1.0), (9771999, -1.0)]
[(9774706, -1.0), (9774618, -1.0), (9774403, -1.0), (9538375, -1.0), (9774020, -1.0), (9771999, -1.0), (9774937, -1.0), (9774923, -1.0), (9774598, -1.0), (9774823, -1.0), (9757574, -1.0), (9760046, -1.0), (9492619, -1.0), (9774626, -1.0)]
[(9774506, -1.0), (9773985, -1.0), (9744206, -1.0), (9492619, -1.0), (9773464, -1.0), (9774032, -1.0), (9774568, -1.0), (9771113, -1.0), (9774430, -1.0), (9757574, -1.0), (9771999, -1.0), (9760091, -1.0)]
[(9775352, -1.0), (9759544, -1.0), (9774461, -1.0), (9773947, -1.0), (9775323, -1.0), (9774557, -1.0), (9774652, -1.0), (9775331, -1.0), (9759966, -1.0), (9775277, -1.0), (9774516, -1.0), (9770028, -1.0)]
[(9695098, 18.0), (9744403, -1.0), (9482380, -1.0), (9775183, -1.0), (9772275, -1.0), (9774020, -1.0), (9773341, -1.0), (9774826, -1.0), (9775171, -1.0), (9746360, -1.0), (9774079, -1.0), (9738729, -1.0)]
[(9695098, 18.0), (9775419, -1.0), (9759966, -1.0), (9775297, -1.0), (9774461, -1.0), (9746360, -1.0), (9774826, -1.0), (9775171, -1.0), (9775402, -1.0), (9770028, -1.0), (9482380, -1.0), (9774557, -1.0), (9775352, -1.0), (9775323, -1.0), (9772706, -1.0), (9775183, -1.0), (9774020, -1.0), (9744403, -1.0), (9772275, -1.0), (9774652, -1.0), (9775256, -1.0), (9738729, -1.0)]
[(9774461, -1.0), (9775331, -1.0), (9774516, -1.0), (9773947, -1.0), (9772706, -1.0)]
[(9772711, -1.0), (9769624, -1.0), (9775325, -1.0), (9775699, -1.0), (9775701, -1.0)]
[(9774828, -1.0), (9771355, -1.0), (9775733, -1.0), (9775648, -1.0), (9775800, -1.0), (9770145, -1.0), (9775793, -1.0), (9767490, -1.0), (9775722, -1.0), (9770028, -1.0), (9775794, -1.0), (9775388, -1.0), (9775824, -1.0), (9775776, -1.0), (9774541, -1.0), (9775850, -1.0)]
[(9756169, 251.11109302700848), (9532638, 145.0), (9486486, 99.63806518940044), (9775881, -1.0), (9775703, -1.0), (9775800, -1.0), (9775733, -1.0), (9770145, -1.0), (9767490, -1.0), (9378062, -1.0), (9775809, -1.0), (9268227, -1.0), (9775793, -1.0), (9775824, -1.0), (9775776, -1.0), (9775794, -1.0), (9775873, -1.0)]
[(9775793, -1.0), (9775824, -1.0), (9770145, -1.0), (9775800, -1.0), (9775794, -1.0), (9775850, -1.0)]
[(9775794, -1.0), (9775873, -1.0), (9775824, -1.0), (9775809, -1.0), (9775850, -1.0)]
[(9776071, -1.0), (9776246, -1.0), (9776715, -1.0), (9776855, -1.0), (9776808, -1.0)]
[(9776497, -1.0), (9776369, -1.0), (9776570, -1.0), (7213923, -1.0), (9776046, -1.0), (9775985, -1.0), (9776808, -1.0), (9776566, -1.0), (9418107, -1.0), (9771995, -1.0), (9776697, -1.0), (9776691, -1.0), (9525589, -1.0), (9508202, -1.0), (9775804, -1.0)]
[(9766560, 7.0), (9776808, -1.0), (9776497, -1.0), (9776566, -1.0), (9775803, -1.0)]
[(9695098, 532.0), (8054212, 140.0), (9759955, -1.0), (9776697, -1.0), (9776071, -1.0), (9776246, -1.0), (9775804, -1.0), (9776690, -1.0), (9776715, -1.0), (9776570, -1.0), (9776449, -1.0), (9776566, -1.0), (9776808, -1.0), (9771995, -1.0), (9776046, -1.0), (9776691, -1.0), (9776369, -1.0), (9775985, -1.0), (9776497, -1.0), (9203815, -1.0)]
[(9775983, -1.0), (9774937, -1.0), (9776322, -1.0), (9563703, -1.0), (9775283, -1.0), (9776234, -1.0), (9080070, -1.0), (9508202, -1.0), (9773768, -1.0), (9776047, -1.0), (7306652, -1.0), (9773612, -1.0)]
[(9776341, -1.0), (9775763, -1.0), (9776449, -1.0), (9776434, -1.0), (9776508, -1.0)]
[(9767490, -1.0), (9776315, -1.0), (9776322, -1.0), (9773392, -1.0), (9776190, -1.0), (9776234, -1.0), (9775998, -1.0), (9695098, -1.0), (9774287, -1.0), (9775965, -1.0), (9775983, -1.0)]
[(9776449, -1.0), (9769459, -1.0), (9775573, -1.0), (9699417, -1.0), (9776040, -1.0), (9654553, -1.0), (9769605, -1.0), (9776438, -1.0)]
[(9500505, -1.0), (9776223, -1.0), (9527795, -1.0), (9776442, -1.0), (9080070, -1.0), (9084355, -1.0)]
[(9776394, -1.0), (9500505, -1.0), (9776047, -1.0), (9776386, -1.0), (9084355, -1.0), (9775983, -1.0), (9527795, -1.0), (9080070, -1.0)]
[(9776040, -1.0), (9776442, -1.0), (9769605, -1.0), (9743870, -1.0), (9776438, -1.0), (9776223, -1.0)]
[(9777296, -1.0), (9778192, -1.0), (9776337, -1.0), (9777750, -1.0), (9777470, -1.0)]
[(7306652, -1.0), (9775846, -1.0), (9778007, -1.0), (9778028, -1.0), (9778110, -1.0), (9776420, -1.0)]
[(9695098, 15.0), (9778074, -1.0), (7306652, -1.0), (9759955, -1.0), (9777505, -1.0), (9778216, -1.0), (9777955, -1.0), (9778035, -1.0), (9778052, -1.0), (9777992, -1.0)]
[(9777768, -1.0), (9778063, -1.0), (9777804, -1.0), (9695098, -1.0), (9777565, -1.0), (9777319, -1.0), (9777292, -1.0)]
[(9767534, 38.0), (9777374, -1.0), (9777704, -1.0), (9777648, -1.0), (9777475, -1.0), (9777529, -1.0), (9769306, -1.0), (9760046, -1.0), (9747329, -1.0), (9769433, -1.0), (9769622, -1.0), (9775908, -1.0), (9775596, -1.0), (9777520, -1.0), (9776710, -1.0), (9777190, -1.0), (9777026, -1.0), (9777320, -1.0)]
[(9778035, -1.0), (9777505, -1.0), (9778052, -1.0), (9778007, -1.0), (9759955, -1.0), (9778074, -1.0), (9777955, -1.0), (9777992, -1.0), (9776420, -1.0)]
[(9777299, -1.0), (9777406, -1.0), (9777393, -1.0), (9777308, -1.0), (9777026, -1.0)]
[(9777228, -1.0), (9777075, -1.0), (9777112, -1.0), (9525589, -1.0), (9775908, -1.0), (9532638, -1.0), (9777164, -1.0), (9142564, -1.0), (9220931, -1.0), (9776917, -1.0), (9759955, -1.0), (9777043, -1.0), (9777005, -1.0)]
[(9777334, -1.0), (9777308, -1.0), (9777345, -1.0), (9776985, -1.0), (9776918, -1.0), (9777026, -1.0)]
[(9776929, -1.0), (9767490, -1.0), (9776246, -1.0), (9776864, -1.0), (9775708, -1.0), (9777007, -1.0), (9771113, -1.0), (9776897, -1.0), (9776882, -1.0), (9769917, -1.0), (9776287, -1.0), (9775713, -1.0), (9771333, -1.0), (9776870, -1.0), (9777036, -1.0), (9772813, -1.0), (9771686, -1.0), (9769624, -1.0), (9737266, -1.0), (9776968, -1.0), (9776071, -1.0), (9776406, -1.0), (9775582, -1.0), (9769684, -1.0), (9776851, -1.0), (9666961, -1.0), (9776566, -1.0), (9776292, -1.0)]
[(9747329, -1.0), (9759966, -1.0), (9776916, -1.0), (9775703, -1.0), (9777036, -1.0), (9770288, -1.0), (9775800, -1.0)]
[(9760046, -1.0), (9774580, -1.0), (9774972, -1.0), (9775131, -1.0), (9527795, -1.0), (9738729, -1.0)]
[(9770028, -1.0), (9774899, -1.0), (9775202, -1.0), (9774972, -1.0), (9775079, -1.0), (9774580, -1.0), (9774789, -1.0), (9760046, -1.0), (9774020, -1.0), (9775131, -1.0), (9738729, -1.0), (9775283, -1.0), (9775184, -1.0)]
[(9747962, 22.0), (9775256, -1.0), (9775183, -1.0), (9744403, -1.0), (9774826, -1.0), (9774652, -1.0), (9775171, -1.0), (9772275, -1.0)]
[(9747962, 22.0), (9772275, -1.0), (9744403, -1.0), (9774826, -1.0), (9774555, -1.0), (9774652, -1.0), (9775171, -1.0), (9775183, -1.0), (9775256, -1.0)]
[(9774598, -1.0), (9774823, -1.0), (9774937, -1.0), (9772957, -1.0), (9773292, -1.0), (9771113, -1.0), (9774923, -1.0), (9774626, -1.0), (9774403, -1.0), (9775003, -1.0)]
[(9527795, -1.0), (9775079, -1.0), (9775076, -1.0), (9770028, -1.0), (9775283, -1.0), (9774648, -1.0), (9775142, -1.0)]
[(9774764, -1.0), (9771992, -1.0), (9769557, -1.0), (9775042, -1.0), (9765941, -1.0), (9757574, -1.0), (9774358, -1.0), (9773292, -1.0), (9769624, -1.0), (9774840, -1.0), (9538375, -1.0), (9774554, -1.0)]
[(9747962, 22.0), (9772275, -1.0), (9775256, -1.0), (9775183, -1.0), (9744403, -1.0), (9774652, -1.0)]
[(9774527, -1.0), (9773292, -1.0), (9774404, -1.0), (9774706, -1.0), (9774803, -1.0), (9771113, -1.0), (9774618, -1.0)]

In [887]:
y = y.map(lambda x: x[0])

In [888]:
y

1000    9778444
1001    9778328
1002    9777856
1003    9778500
1004    9778413
         ...
1095    9777043
1096    9777079
1097    9776851
1098    9777079
1099    9771151
Name: article_ids_clicked, Length: 100, dtype: int32

In [889]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(y_hat)

1000                  (9778657, -1.0)
1001                  (9695098, 68.0)
1002                  (9778216, -1.0)
1003                  (9778500, -1.0)
1004                  (9695098, 68.0)
1005                  (9778627, -1.0)
1006                  (9776420, -1.0)
1007                  (9776985, -1.0)
1008                 (9758432, 114.0)
1009                  (9778375, -1.0)
1010                  (9772923, -1.0)
1011                  (9696697, -1.0)
1012                  (9769892, -1.0)
1013    (9769367, 184.63113221975712)
1014                  (9774079, -1.0)
1015                  (9774252, -1.0)
1016                  (9774120, -1.0)
1017                  (9773078, -1.0)
1018                  (9459174, 77.0)
1019     (9459174, 13.00308419384705)
1020                  (9769800, -1.0)
1021                  (9772869, -1.0)
1022                  (9773015, -1.0)
1023                  (9772923, -1.0)
1024                  (9772241, -1.0)
1025                  (9772835, -1.0)
1026    (9770541, 12.748824508239935)
1027                 (9769892, 209.0)
1028                  (9770792, -1.0)
1029                  (9649560, 82.0)
1030                 (9769892, 209.0)
1031     (9701446, 16.50060640636948)
1032                  (9772502, -1.0)
1033                  (9773279, -1.0)
1034                   (9768829, 3.0)
1035                  (9772866, -1.0)
1036                 (9695098, 312.0)
1037                  (9773612, -1.0)
1038                  (9773877, -1.0)
1039                  (9773866, -1.0)
1040                  (9774321, -1.0)
1041     (9769917, 24.31324129630125)
1042                  (9771999, -1.0)
1043                  (9773887, -1.0)
1044                  (9695098, -1.0)
1045                  (9744206, -1.0)
1046                  (9774706, -1.0)
1047                  (9774506, -1.0)
1048                  (9775352, -1.0)
1049                  (9695098, 18.0)
1050                  (9695098, 18.0)
1051                  (9774461, -1.0)
1052                  (9772711, -1.0)
1053                  (9774828, -1.0)
1054    (9756169, 251.11109302700848)
1055                  (9775793, -1.0)
1056                  (9775794, -1.0)
1057                  (9776071, -1.0)
1058                  (9776497, -1.0)
1059                   (9766560, 7.0)
1060                 (9695098, 532.0)
1061                  (9775983, -1.0)
1062                  (9776341, -1.0)
1063                  (9767490, -1.0)
1064                  (9776449, -1.0)
1065                  (9500505, -1.0)
1066                  (9776394, -1.0)
1067                  (9776040, -1.0)
1068                  (9777296, -1.0)
1069                  (7306652, -1.0)
1070                  (9695098, 15.0)
1071                  (9777768, -1.0)
1072                  (9767534, 38.0)
1073                  (9778035, -1.0)
1074                  (9777299, -1.0)
1075                  (9777228, -1.0)
1076                  (9777334, -1.0)
1077                  (9776929, -1.0)
1078                  (9747329, -1.0)
1079                  (9760046, -1.0)
1080                  (9770028, -1.0)
1081                  (9747962, 22.0)
1082                  (9747962, 22.0)
1083                  (9774598, -1.0)
1084                  (9527795, -1.0)
1085                  (9774764, -1.0)
1086                  (9747962, 22.0)
1087                  (9774527, -1.0)
1088                  (9775256, -1.0)
1089                  (9774648, -1.0)
1090                   (9538375, 4.0)
1091                  (9754265, 31.0)
1092                  (9767741, 61.0)
1093                  (9774652, -1.0)
1094                  (9775277, -1.0)
1095                   (9142564, 7.0)
1096                  (9777345, -1.0)
1097                  (9774840, -1.0)
1098                  (9777308, -1.0)
1099                  (9771626, -1.0)
dtype: object

In [890]:
zero_indices = [index for index, value in enumerate(y_hat) if value[1] == -1]
y_hat_filtered = [value[0] for index, value in enumerate(y_hat) if index not in zero_indices]

In [891]:
y_filtered = [value for index, value in enumerate(y) if index not in zero_indices]

In [892]:
y_hat_filtered

[9695098,
 9695098,
 9758432,
 9769367,
 9459174,
 9459174,
 9770541,
 9769892,
 9649560,
 9769892,
 9701446,
 9768829,
 9695098,
 9769917,
 9695098,
 9695098,
 9756169,
 9766560,
 9695098,
 9695098,
 9767534,
 9747962,
 9747962,
 9747962,
 9538375,
 9754265,
 9767741,
 9142564]

In [893]:
y_filtered

[9778328,
 9778413,
 9777856,
 9772029,
 9771859,
 9772925,
 9772241,
 9772805,
 9772873,
 9762122,
 9772963,
 9773744,
 9773543,
 9761859,
 9775171,
 9774826,
 9775793,
 9776497,
 9776449,
 9778035,
 9777026,
 9772275,
 9775171,
 9775183,
 9775131,
 9210441,
 9775297,
 9777043]

In [894]:
print(sum(1 for a, b in zip(y_filtered, y_hat_filtered) if a == b) / len(y_filtered) * 100)

0.0

In [895]:
sum(1 for a, b in zip(y_filtered, y_hat_filtered) if a == b)

0

In [896]:
len(y_filtered)

28

In [897]:
for index, el in enumerate(y_filtered):
    if el == y_hat_filtered[index]:
        print(el)