# Content-based system using prebuilt article embeddings

## Idea in brief

- More than 99.9% of the dataset's interactions have a single clicked article from a list of articles "in view", so we can assume that treating the task as a multiclass classification, where the possible classes are the articles in view should yield decent results. Instead of trying to predict a ranking of the articles in view, we try to predict a single article - the one that should be ranked first. 
- The dataset provides multiple embeddings for the articles' content, namely ones generated from word2vec, BERT and RoBERTa models. In this notebook, we'll be using the RoBERTa embeddings as a starting point for a content-based recommender system.
- The system creates a user profile from all of the articles they've visited as per the "history" data. For each interaction, we calculate the **CS = cosine similarity** between the articles in view and the user's profile. The article in view with the biggest similarity values is the predicted rank 1.
- Future development ideas:
  - Introduce a ML regression model that enhances the similarity sums.
    - Model features/inputs: 
      1. Interaction/User-article fields, averaged for each article: timestamps, read times, scroll percentages
      2. Article-specific fields like tags, total inviews, total pageview
      3. User-specific (averaged for each article from all the users that have read the article) fields like age, gender
    - Model target value: `F = "fitness" of the article`, a number between 0 and 1, which best approximates the `score = Y/X` for `X = count of times the article was in view`, `Y = count of times the article was clicked`. 
    - We can then train another model which tries to learn the weight `a` and `b` such that `a * F + b * cosine_similarity` is as close as possible to the average `score` for the article.
  - Extend user profile with "User-specific" described above and measure similarity of those fields somehow.

## Imports

In [6]:
# import random
import json
import random 

import pandas as pd
import numpy as np
from tqdm import tqdm
from sklearn.metrics import accuracy_score 
from scipy.spatial.distance import cosine

## Constants

In [7]:
ROOT_PATH = '../data/small'
ARTICLES_PATH = f'{ROOT_PATH}/articles.parquet'
ARTICLE_EMBEDDINGS_PATH = f'{ROOT_PATH}/../embeddings/xlm_roberta_base.parquet'
TRAIN_HISTORY_PATH = f'{ROOT_PATH}/train/history.parquet'
VALIDATION_HISTORY_PATH = f'{ROOT_PATH}/validation/history.parquet'
TRAIN_INTERACTIONS_PATH = f'{ROOT_PATH}/train/behaviors.parquet'
VALIDATION_INTERACTIONS_PATH = f'{ROOT_PATH}/validation/behaviors.parquet'

## Data loading

In [8]:
article_embeddings_df = pd.read_parquet(ARTICLE_EMBEDDINGS_PATH)
history_df = pd.read_parquet(TRAIN_HISTORY_PATH)
article_embeddings_df['FacebookAI/xlm-roberta-base'].apply(lambda x: len(x))

0         768
1         768
2         768
3         768
4         768
         ...
125536    768
125537    768
125538    768
125539    768
125540    768
Name: FacebookAI/xlm-roberta-base, Length: 125541, dtype: int64

In [9]:
history_df

,user_id,impression_time_fixed,scroll_percentage_fixed,article_id_fixed,read_time_fixed
0,13538,"[2023-04-27T10:17:43.000000, 2023-04-27T10:18:...","[100.0, 35.0, 100.0, 24.0, 100.0, 23.0, 100.0,...","[9738663, 9738569, 9738663, 9738490, 9738663, ...","[17.0, 12.0, 4.0, 5.0, 4.0, 9.0, 5.0, 46.0, 11..."
1,14241,"[2023-04-27T09:40:18.000000, 2023-04-27T09:40:...","[100.0, 46.0, 100.0, 70.0, 100.0, 100.0, 100.0...","[9738557, 9738528, 9738533, 9738684, 9739035, ...","[8.0, 9.0, 28.0, 17.0, 91.0, 21.0, 14.0, 27.0,..."
2,20396,"[2023-04-27T12:30:44.000000, 2023-04-27T12:31:...","[100.0, 59.0, nan, nan, 100.0, 100.0, nan, nan...","[9738760, 9738355, 9738355, 9739864, 9741788, ...","[49.0, 34.0, 0.0, 60.0, 180.0, 49.0, 0.0, 0.0,..."
3,34912,"[2023-04-29T07:12:49.000000, 2023-04-29T13:01:...","[100.0, 35.0, 44.0, 31.0, 100.0, 100.0, 100.0,...","[9741802, 9741804, 9741803, 9740087, 9742039, ...","[153.0, 7.0, 5.0, 6.0, 44.0, 44.0, 108.0, 10.0..."
4,37953,"[2023-04-27T19:17:10.000000, 2023-04-27T19:17:...","[14.0, 28.0, 29.0, nan, 36.0, 33.0, 50.0, 100....","[9739205, 9739202, 9737084, 9739274, 9739358, ...","[4.0, 16.0, 4.0, 0.0, 5.0, 5.0, 25.0, 48.0, 6...."
...,...,...,...,...,...
15138,1479974,"[2023-05-18T06:03:16.000000, 2023-05-18T06:03:...","[58.0, 100.0, 21.0, 100.0, 100.0, 100.0, 6.0, ...","[9770989, 9769553, 9770882, 9770541, 9770867, ...","[8.0, 124.0, 9.0, 72.0, 52.0, 70.0, 2.0, 40.0,..."
15139,2405403,"[2023-04-30T19:48:27.000000, 2023-04-30T19:48:...","[40.0, 100.0, 100.0, 43.0, 100.0, 39.0]","[9743574, 9740618, 9742401, 9740156, 9742401, ...","[1.0, 64.0, 6.0, 5.0, 2.0, 120.0]"
15140,2454548,"[2023-05-17T09:35:06.000000, 2023-05-17T09:35:...","[12.0, 10.0, 30.0, 100.0, 33.0, 37.0, 87.0, 57...","[9768328, 9769328, 9769414, 9769380, 9769378, ...","[9.0, 6.0, 3.0, 32.0, 101.0, 10.0, 69.0, 10.0,..."
15141,581228,"[2023-05-18T05:24:32.000000, 2023-05-18T05:24:...","[28.0, 60.0, 100.0, 100.0, 49.0, 100.0]","[9770799, 9770726, 9747757, 9769404, 9769366, ...","[12.0, 15.0, 52.0, 700.0, 7.0, 43.0]"
15142,1710834,"[2023-05-17T21:09:45.000000, 2023-05-17T21:09:...","[20.0, 43.0, 99.0, 99.0, 48.0]","[9770741, 9770594, 9728166, 9769433, 9770452]","[9.0, 44.0, 35.0, 44.0, 916.0]"

In [10]:
interactions_df = pd.read_parquet(TRAIN_INTERACTIONS_PATH)
print(article_embeddings_df.shape[0], history_df.shape[0], interactions_df.shape[0])

125541 15143 232887

In [6]:
interactions_df

,impression_id,article_id,impression_time,read_time,scroll_percentage,device_type,article_ids_inview,article_ids_clicked,user_id,is_sso_user,gender,postcode,age,is_subscriber,session_id,next_read_time,next_scroll_percentage
0,149474,NaN,2023-05-24 07:47:53,13.0,NaN,2,"[9778623, 9778682, 9778669, 9778657, 9778736, ...",[9778657],139836,False,NaN,NaN,NaN,False,759,7.0,22.0
1,150528,NaN,2023-05-24 07:33:25,25.0,NaN,2,"[9778718, 9778728, 9778745, 9778669, 9778657, ...",[9778623],143471,False,NaN,NaN,NaN,False,1240,287.0,100.0
2,153068,9778682.0,2023-05-24 07:09:04,78.0,100.0,1,"[9778657, 9778669, 9772866, 9776259, 9756397, ...",[9778669],151570,False,NaN,NaN,NaN,False,1976,45.0,100.0
3,153070,9777492.0,2023-05-24 07:13:14,26.0,100.0,1,"[9020783, 9778444, 9525589, 7213923, 9777397, ...",[9778628],151570,False,NaN,NaN,NaN,False,1976,4.0,18.0
4,153071,9778623.0,2023-05-24 07:11:08,125.0,100.0,1,"[9777492, 9774568, 9565836, 9335113, 9771223, ...",[9777492],151570,False,NaN,NaN,NaN,False,1976,26.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232882,580099643,9769306.0,2023-05-18 10:01:05,121.0,100.0,3,"[9233208, 9771242, 9767697, 9514481, 9771065, ...",[9770886],2106715,False,NaN,NaN,NaN,False,1416293,121.0,NaN
232883,580099644,9770882.0,2023-05-18 10:05:07,176.0,100.0,3,"[9771065, 9767697, 9770886, 9758882, 9709817, ...",[9769306],2106715,False,NaN,NaN,NaN,False,1416293,148.0,100.0
232884,580099645,9769306.0,2023-05-18 10:11:03,24.0,100.0,3,"[9771042, 9440508, 9486080, 9770997, 9120051, ...",[9771042],2106715,False,NaN,NaN,NaN,False,1416293,4.0,NaN
232885,580100695,9771242.0,2023-05-18 10:00:08,5.0,100.0,1,"[9440508, 9142581, 9769917, 9767697, 9514481, ...",[9767697],2110744,False,NaN,NaN,NaN,False,747086,75.0,100.0
232886,580100697,9771242.0,2023-05-18 10:01:29,14.0,100.0,1,"[9233208, 8422665, 9769306, 9771042, 9514481, ...",[9771042],2110744,False,NaN,NaN,NaN,False,747086,123.0,25.0

In [7]:
articles_df = pd.read_parquet(ARTICLES_PATH)
articles_df

,article_id,title,subtitle,last_modified_time,premium,body,published_time,image_ids,article_type,url,...,entity_groups,topics,category,subcategory,category_str,total_inviews,total_pageviews,total_read_time,sentiment_score,sentiment_label
0,3001353,Natascha var ikke den fÃ¸rste,"Politiet frygter nu, at Nataschas bortfÃ¸rer ha...",2023-06-29 06:20:33,False,Sagen om den Ã¸striske Natascha og hendes bortf...,2006-08-31 08:06:45,[3150850],article_default,https://ekstrabladet.dk/krimi/article3001353.ece,...,[],"[Kriminalitet, Personfarlig kriminalitet]",140,[],krimi,NaN,NaN,NaN,0.9955,Negative
1,3003065,Kun Star Wars tjente mere,BiografgÃ¦ngerne strÃ¸mmer ind for at se 'Da Vin...,2023-06-29 06:20:35,False,Vatikanet har opfordret til at boykotte filmen...,2006-05-21 16:57:00,[3006712],article_default,https://ekstrabladet.dk/underholdning/filmogtv...,...,[],"[Underholdning, Film og tv, Ã˜konomi]",414,"[433, 434]",underholdning,NaN,NaN,NaN,0.8460,Positive
2,3012771,Morten Bruun fyret i SÃ¸nderjyskE,FODBOLD: Morten Bruun fyret med Ã¸jeblikkelig v...,2023-06-29 06:20:39,False,Kemien mellem spillerne i Superligaklubben SÃ¸n...,2006-05-01 14:28:40,[3177953],article_default,https://ekstrabladet.dk/sport/fodbold/dansk_fo...,...,[],"[Erhverv, Kendt, Sport, Fodbold, AnsÃ¦ttelsesfo...",142,"[196, 199]",sport,NaN,NaN,NaN,0.8241,Negative
3,3023463,Luderne flytter pÃ¥ landet,I landets tyndest befolkede omrÃ¥der skyder bor...,2023-06-29 06:20:43,False,Det frÃ¦kke erhverv rykker pÃ¥ landet. I den tyn...,2007-03-24 08:27:59,[3184029],article_default,https://ekstrabladet.dk/nyheder/samfund/articl...,...,[],"[Livsstil, Erotik]",118,[133],nyheder,NaN,NaN,NaN,0.7053,Neutral
4,3032577,Cybersex: HvornÃ¥r er man utro?,En flirtende sms til den flotte fyr i regnskab...,2023-06-29 06:20:46,False,"De fleste af os mener, at et tungekys er utros...",2007-01-18 10:30:37,[3030463],article_default,https://ekstrabladet.dk/sex_og_samliv/article3...,...,[],"[Livsstil, Partnerskab]",565,[],sex_og_samliv,NaN,NaN,NaN,0.9307,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20733,9803492,Vilde billeder: Vulkan i udbrud i ferieparadis,Der er gang i vulkanen pÃ¥ Hawaiis stÃ¸rste Ã¸,2023-06-29 06:49:26,False,Det spyer med lava fra vulkanen Kilauea pÃ¥ Haw...,2023-06-08 05:49:20,"[9803493, 9803494, 9803495, 9803495, 9803494]",article_default,https://ekstrabladet.dk/nyheder/samfund/vilde-...,...,"[LOC, LOC, PER, ORG, ORG]","[Katastrofe, Vejr, StÃ¸rre katastrofe]",118,[133],nyheder,535989.0,100120.0,4112624.0,0.6095,Neutral
20734,9803505,Flyvende Antonsen knuser topspiller,"Verdens nummer syv, Chou Tien-Chen, fik ikke e...",2023-06-29 06:49:26,False,Anders Antonsen har holdt pause fra badmintonb...,2023-06-08 05:54:06,[9803516],article_default,https://ekstrabladet.dk/sport/anden_sport/badm...,...,"[PER, PROD, PER, PER, MISC, MISC, PER, PER, LO...","[Kendt, Begivenhed, Sport, Ketcher- og batspor...",142,"[327, 330]",sport,13320.0,959.0,55691.0,0.8884,Positive
20735,9803525,"Dansk skuespiller: - Jeg nÃ¦gtede, at jeg var syg",Julie R. Ã˜lgaard fik akut kejsersnit og fÃ¸dte ...,2023-06-29 06:49:26,False,"Mens hun lÃ¥ sÃ¸vnlÃ¸s, lÃ¸d kakofonien fra baggÃ¥r...",2023-06-08 06:45:46,"[9803518, 9803519, 9803520, 9803521, 9803522, ...",article_default,https://ekstrabladet.dk/underholdning/dkkendte...,...,"[PER, PROD, PER, PER, PER, PER, MISC]","[Kendt, Livsstil, Familieliv, Underholdning, F...",414,[425],underholdning,315391.0,50361.0,2550671.0,0.7737,Negative
20736,9803560,SÃ¥ slemt er det: 14.000 huse er oversvÃ¸mmet,Tusindvis af huse stÃ¥r under vand i Kherson-re...,2023-06-29 06:49:26,False,Et omrÃ¥de pÃ¥ omkring 600 kvadratkilometer stÃ¥r...,2023-06-08 06:25:42,None,article_default,https://ekstrabladet.dk/nyheder/saa-slemt-er-d...,...,"[LOC, LOC, LOC, PROD, PER, LOC, ORG, ORG, LOC]","[International politik, Katastrofe, StÃ¸rre kat...",118,[],nyheder,21318.0,1237.0,67514.0,0.9927,Negative
20737,9803607,Aktion mod svindlere: Seks personer anholdt,Flere kvinder er ifÃ¸lge politiet blevet svindl...,2023-06-29 06:49:26,False,Mindst otte personer er blevet anholdt og sigt...,2023-06-08 06:54:53,[9803906],article_default,https://ekstrabladet.dk/krimi/aktion-mod-svind...,...,"[PER, PER, PER, LOC, ORG, LOC, LOC, PER, PER, ...","[Kriminalitet, Bedrageri]",140,[],krimi,331057.0,79590.0,3694760.0,0.9948,Negative

## Embedding similarity algorithm

In [8]:
# Create a dictionary from article_embeddings_df for fast lookups
article_embedding_dict = article_embeddings_df.set_index('article_id')['FacebookAI/xlm-roberta-base'].to_dict()

In [9]:
# Generate a list of unique articles seen in dataset (inview from interactions and visited from history)
article_ids= articles_df['article_id']
unique_articles_set = set(article_ids)
unique_articles = list(unique_articles_set)
len(unique_articles)

20738

In [10]:
# Cell takes ~15 minutes to run

# Calculate pairwise cosine similarity of the embeddings for each article seen in dataset ahead of time
cosine_similarities = dict()
for i, id in enumerate(tqdm(unique_articles)):
    for next_id in unique_articles[i+1:]:
        similarity = cosine(article_embedding_dict[id], article_embedding_dict[next_id]).sum()
        cosine_similarities[f'{id},{next_id}'] = similarity
        cosine_similarities[f'{next_id},{id}'] = similarity

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 20738/20738 [3:42:05<00:00,  1.56it/s]

In [11]:
with open(f'{ROOT_PATH}/article_similarities.json', 'w') as file:
     file.write(json.dumps(cosine_similarities))

MemoryError:

In [12]:
# dict for quickly getting article ids from the user's history
user_id_to_profile_dict = history_df.set_index('user_id')['article_id_fixed'].to_dict()

In [21]:
# For each article in the interaction's inview list, calculate the sum of its cosine similarity to each article in the user's profile. 
# The most similar inview article is recommended

def get_best_rec(row):
    article_inview_ids = row['article_ids_inview']
    article_profile_ids = user_id_to_profile_dict[row['user_id']]
    
    best_similarity_article_id = article_inview_ids[0]
    best_similarity = 0
    global key_error_count
    key_error_count = 0
    for i, article_inview_id in enumerate(article_inview_ids):
        similarity_sum = 0
        for article_profile_id in article_profile_ids:
            similarity = 0
            key = f'{article_inview_id},{article_profile_id}'
            if key in cosine_similarities:
                similarity = cosine_similarities[f'{article_inview_id},{article_profile_id}']
            # FIXME: find out how many KeyErrors we're getting and why
            else:
                similarity = random.uniform(0, 1)
                key_error_count = key_error_count + 1
            similarity_sum = similarity_sum + similarity
        if similarity_sum > best_similarity:
            best_similarity = similarity_sum
            best_similarity_article_id = article_inview_ids[i]
    return best_similarity_article_id

In [24]:
# Cell takes ~15 minutes to execute

tqdm.pandas()
interactions_df['predict'] = interactions_df.progress_apply(get_best_rec, axis = 1)
key_error_count

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 232887/232887 [40:04<00:00, 96.87it/s]

NameError: name 'key_error_count' is not defined

In [ ]:
interactions_df['actual'] = interactions_df['article_ids_clicked'].apply(lambda ids: ids[0])
accuracy = accuracy_score(interactions_df['actual'], interactions_df['predict']
print(f'Accuracy: {accuracy}')

0.12274193063588779

In [ ]:
# Intended for submission
#def transform_interaction_to_prediction(interaction, test_format=False):
#    prediction_index = interaction['article_ids_inview'].index(interaction['predict'])
#    prediction_list = list(range(2,len(interaction['article_ids_inview'].str.len())) + 1)
#    random.shuffle(prediction_list)
#    prediction_list.insert(prediction_index, 1)
#    list_as_str = ','.join(str(i) for i in prediction_list)
#    return f'{interaction['impression_id']} [{list_as_str}]'
#
#predictions = interactions_df['predict'].apply(transform_interaction_to_prediction)
#
#predictions.to_csv('./test-predictions.txt', index=False, header=False, line_terminator='\n')