### new idea

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train_beh = pd.read_parquet(path="./ebnerd_small/train/behaviors.parquet")
df_train_beh = df_train_beh[["impression_id", "user_id", "article_ids_inview", "article_ids_clicked"]]

,impression_id,article_id,impression_time,read_time,scroll_percentage,device_type,article_ids_inview,article_ids_clicked,user_id,is_sso_user,gender,postcode,age,is_subscriber,session_id,next_read_time,next_scroll_percentage
0,149474,NaN,2023-05-24 07:47:53,13.0,NaN,2,"[9778623, 9778682, 9778669, 9778657, 9778736, ...",[9778657],139836,False,NaN,NaN,NaN,False,759,7.0,22.0
1,150528,NaN,2023-05-24 07:33:25,25.0,NaN,2,"[9778718, 9778728, 9778745, 9778669, 9778657, ...",[9778623],143471,False,NaN,NaN,NaN,False,1240,287.0,100.0
2,153068,9778682.0,2023-05-24 07:09:04,78.0,100.0,1,"[9778657, 9778669, 9772866, 9776259, 9756397, ...",[9778669],151570,False,NaN,NaN,NaN,False,1976,45.0,100.0
3,153070,9777492.0,2023-05-24 07:13:14,26.0,100.0,1,"[9020783, 9778444, 9525589, 7213923, 9777397, ...",[9778628],151570,False,NaN,NaN,NaN,False,1976,4.0,18.0
4,153071,9778623.0,2023-05-24 07:11:08,125.0,100.0,1,"[9777492, 9774568, 9565836, 9335113, 9771223, ...",[9777492],151570,False,NaN,NaN,NaN,False,1976,26.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232882,580099643,9769306.0,2023-05-18 10:01:05,121.0,100.0,3,"[9233208, 9771242, 9767697, 9514481, 9771065, ...",[9770886],2106715,False,NaN,NaN,NaN,False,1416293,121.0,NaN
232883,580099644,9770882.0,2023-05-18 10:05:07,176.0,100.0,3,"[9771065, 9767697, 9770886, 9758882, 9709817, ...",[9769306],2106715,False,NaN,NaN,NaN,False,1416293,148.0,100.0
232884,580099645,9769306.0,2023-05-18 10:11:03,24.0,100.0,3,"[9771042, 9440508, 9486080, 9770997, 9120051, ...",[9771042],2106715,False,NaN,NaN,NaN,False,1416293,4.0,NaN
232885,580100695,9771242.0,2023-05-18 10:00:08,5.0,100.0,1,"[9440508, 9142581, 9769917, 9767697, 9514481, ...",[9767697],2110744,False,NaN,NaN,NaN,False,747086,75.0,100.0
232886,580100697,9771242.0,2023-05-18 10:01:29,14.0,100.0,1,"[9233208, 8422665, 9769306, 9771042, 9514481, ...",[9771042],2110744,False,NaN,NaN,NaN,False,747086,123.0,25.0

In [5]:
df_train_his = pd.read_parquet(path="./ebnerd_small/train/history.parquet")
df_train_his = df_train_his[["user_id", "scroll_percentage_fixed", "article_id_fixed", "read_time_fixed"]]

,user_id,scroll_percentage_fixed,article_id_fixed,read_time_fixed
0,13538,"[100.0, 35.0, 100.0, 24.0, 100.0, 23.0, 100.0,...","[9738663, 9738569, 9738663, 9738490, 9738663, ...","[17.0, 12.0, 4.0, 5.0, 4.0, 9.0, 5.0, 46.0, 11..."
1,14241,"[100.0, 46.0, 100.0, 70.0, 100.0, 100.0, 100.0...","[9738557, 9738528, 9738533, 9738684, 9739035, ...","[8.0, 9.0, 28.0, 17.0, 91.0, 21.0, 14.0, 27.0,..."
2,20396,"[100.0, 59.0, nan, nan, 100.0, 100.0, nan, nan...","[9738760, 9738355, 9738355, 9739864, 9741788, ...","[49.0, 34.0, 0.0, 60.0, 180.0, 49.0, 0.0, 0.0,..."
3,34912,"[100.0, 35.0, 44.0, 31.0, 100.0, 100.0, 100.0,...","[9741802, 9741804, 9741803, 9740087, 9742039, ...","[153.0, 7.0, 5.0, 6.0, 44.0, 44.0, 108.0, 10.0..."
4,37953,"[14.0, 28.0, 29.0, nan, 36.0, 33.0, 50.0, 100....","[9739205, 9739202, 9737084, 9739274, 9739358, ...","[4.0, 16.0, 4.0, 0.0, 5.0, 5.0, 25.0, 48.0, 6...."
...,...,...,...,...
15138,1479974,"[58.0, 100.0, 21.0, 100.0, 100.0, 100.0, 6.0, ...","[9770989, 9769553, 9770882, 9770541, 9770867, ...","[8.0, 124.0, 9.0, 72.0, 52.0, 70.0, 2.0, 40.0,..."
15139,2405403,"[40.0, 100.0, 100.0, 43.0, 100.0, 39.0]","[9743574, 9740618, 9742401, 9740156, 9742401, ...","[1.0, 64.0, 6.0, 5.0, 2.0, 120.0]"
15140,2454548,"[12.0, 10.0, 30.0, 100.0, 33.0, 37.0, 87.0, 57...","[9768328, 9769328, 9769414, 9769380, 9769378, ...","[9.0, 6.0, 3.0, 32.0, 101.0, 10.0, 69.0, 10.0,..."
15141,581228,"[28.0, 60.0, 100.0, 100.0, 49.0, 100.0]","[9770799, 9770726, 9747757, 9769404, 9769366, ...","[12.0, 15.0, 52.0, 700.0, 7.0, 43.0]"
15142,1710834,"[20.0, 43.0, 99.0, 99.0, 48.0]","[9770741, 9770594, 9728166, 9769433, 9770452]","[9.0, 44.0, 35.0, 44.0, 916.0]"

In [7]:
df_val_beh = pd.read_parquet(path="./ebnerd_small/validation/behaviors.parquet")
df_val_beh = df_val_beh[["impression_id", "user_id", "article_ids_inview", "article_ids_clicked"]]

,impression_id,user_id,article_ids_inview,article_ids_clicked
0,96791,22548,"[9783865, 9784591, 9784679, 9784696, 9784710]",[9784696]
1,96798,22548,"[9782884, 9783865, 9782726, 9695098, 9782806, ...",[9784281]
2,96801,22548,"[9784648, 7184889, 9784444, 9781785, 9783405, ...",[9784444]
3,96808,22548,"[9784607, 9695098, 9784406, 7184889, 9781983]",[9781983]
4,96810,22548,"[9781983, 7184889, 9784642, 9782108, 9781785, ...",[9784642]
...,...,...,...,...
244642,579250707,1529985,"[9782929, 9782919, 9783213, 9783075, 9782746, ...",[9783075]
244643,579251515,1532837,"[9782746, 9782929, 9783720, 9782645, 9783075]",[9783075]
244644,579251519,1532837,"[9783213, 9782645, 9782423, 9783657, 9782746, ...",[9782423]
244645,579253363,1539939,"[9142564, 9783657, 9783404, 9782670, 9783720, ...",[9783720]
244646,579552453,752762,"[9784575, 9784662, 9784642, 9782656, 9784559]",[9782656]

In [8]:
df_val_his = pd.read_parquet(path="./ebnerd_small/validation/history.parquet")
df_val_his = df_val_his[["user_id", "scroll_percentage_fixed", "article_id_fixed", "read_time_fixed"]]

,user_id,scroll_percentage_fixed,article_id_fixed,read_time_fixed
0,14241,"[100.0, 77.0, 100.0, 100.0, 59.0, 61.0, 100.0,...","[9578072, 9749349, 9750161, 9749076, 9749947, ...","[20.0, 16.0, 17.0, 31.0, 4.0, 14.0, 13.0, 19.0..."
1,20396,"[nan, 100.0, 100.0, nan, 100.0, nan, 15.0, 100...","[9748482, 9748916, 9749156, 9749278, 9745750, ...","[0.0, 69.0, 33.0, 0.0, 95.0, 11.0, 4.0, 88.0, ..."
2,37953,"[25.0, 13.0, 66.0, 71.0, 54.0, nan, 28.0, 94.0...","[9750397, 9749916, 9750358, 9751284, 9749284, ...","[5.0, 5.0, 7.0, 182.0, 7.0, 0.0, 3.0, 14.0, 34..."
3,38910,"[nan, 23.0, nan, 18.0, 15.0, 100.0, 29.0, 26.0...","[9745491, 9749729, 9749495, 9749495, 9741788, ...","[2.0, 2.0, 86.0, 2.0, 3.0, 63.0, 2.0, 10.0, 59..."
4,39221,"[100.0, 100.0, 64.0, 77.0, 100.0, nan, 100.0, ...","[9749034, 9751385, 9559425, 9751115, 9685759, ...","[67.0, 82.0, 98.0, 24.0, 26.0, 0.0, 62.0, 34.0..."
...,...,...,...,...
15337,906586,"[60.0, 100.0, 81.0, 100.0, 40.0, 100.0, 100.0]","[9725978, 9763942, 9716537, 9763942, 9763869, ...","[130.0, 37.0, 57.0, 49.0, 5.0, 32.0, 83.0]"
15338,2028720,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0]","[9778731, 9578072, 9778731, 9778219, 9777397, ...","[37.0, 14.0, 5.0, 101.0, 25.0, 84.0]"
15339,1455620,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...","[9778819, 9778819, 9779204, 9779269, 9766042, ...","[52.0, 55.0, 92.0, 149.0, 142.0, 32.0, 45.0, 8..."
15340,1517092,"[30.0, 100.0, 79.0, 100.0, 39.0, 100.0, 79.0]","[9779520, 9768308, 9779408, 9779538, 9779289, ...","[6.0, 21.0, 12.0, 31.0, 4.0, 14.0, 492.0]"
15341,981701,"[100.0, 100.0, 50.0, 92.0, 100.0, 100.0, 95.0,...","[9780096, 9780019, 9780039, 9779150, 9780020, ...","[38.0, 58.0, 6.0, 97.0, 79.0, 189.0, 36.0, 23...."

In [10]:
df_articles = pd.read_parquet(path="./ebnerd_small/articles.parquet")
df_articles = df_articles[["article_id", "category"]]

       article_id  category
0         3001353       140
1         3003065       414
2         3012771       142
3         3023463       118
4         3032577       565
...           ...       ...
20733     9803492       118
20734     9803505       142
20735     9803525       414
20736     9803560       118
20737     9803607       140

[20738 rows x 2 columns]

### users

In [17]:
users_to_eval = np.unique(df_val_beh["user_id"])
users_already_evaluated = np.unique(df_train_beh["user_id"])

print(f"Different users to eval: {len(users_to_eval)}")
print(f"Users already evaluated: {len(users_already_evaluated)}")
print(f"We have data for user, but we do not have to eval the user: {len(np.setdiff1d(users_already_evaluated, users_to_eval))}")
print(f"We have no data, but have to eval the user: {len(np.setdiff1d(users_to_eval, users_already_evaluated))}")
print(f"We have data for this users and we can eval them: {len(np.intersect1d(users_to_eval, users_already_evaluated))}")

Different users to eval: 15342
Users already evaluated: 15143
We have data for user, but we do not have to eval the user: 3485
We have no data, but have to eval the user: 3684
We have data for this users and we can eval them: 11658

### articles

In [24]:
articles_inview_to_eval = np.unique(df_val_beh["article_ids_inview"].explode())
articles_that_appeared_inview_already = np.unique(df_train_beh["article_ids_inview"].explode())

print(f"Articles inview for evaluation: {len(articles_inview_to_eval)}")
print(f"Articles that appeared inview already: {len(articles_that_appeared_inview_already)}")
print(f"Articles that have never appeared: {len(np.setdiff1d(articles_inview_to_eval, articles_that_appeared_inview_already))}")

Articles inview for evaluation: 4701
Articles that appeared inview already: 3995
Articles that have never appeared: 1781

In [35]:
a = df_val_beh[df_val_beh["user_id"].isin(np.setdiff1d(users_to_eval, users_already_evaluated))]
a["A"] = a['article_ids_clicked'].apply(lambda x: x[0])
a = a[a['A'].isin(np.setdiff1d(articles_inview_to_eval, articles_that_appeared_inview_already))]
print(f"We have to compute this much without any clue on user or articles: {a.shape[0]}")

/var/folders/2b/f71znfwd1tj_w3bgdq7lj8pw9drw7y/T/ipykernel_22613/1533342954.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["A"] = a['article_ids_clicked'].apply(lambda x: x[0])

,impression_id,user_id,article_ids_inview,article_ids_clicked,A
11,99431,32455,"[9784804, 9784803, 9782884, 9784702, 9784805]",[9784702],9784702
30,147614,87032,"[9785434, 9785016, 9787769, 9788462, 9788352, ...",[9786283],9786283
31,147616,87032,"[9787739, 9788666, 9788188, 9788362, 9788183]",[9787739],9787739
32,147618,87032,"[9782005, 9785732, 9417521, 9436758, 9219607, ...",[9782005],9782005
87,304569,753075,"[9097165, 9781860, 9781856, 9781838, 9781855, ...",[9781785],9781785
...,...,...,...,...,...
244615,579233816,1331404,"[9527795, 9780921, 9448302, 9781424, 9193263, ...",[9781424],9781424
244616,579233820,1331404,"[9780960, 9780498, 9780993, 9780195, 9781057, ...",[9780983],9780983
244622,579235067,1336610,"[9781502, 9780962, 9781262, 9781506, 9781523, ...",[9781262],9781262
244632,579242086,1495666,"[9533957, 9781906, 9781913, 9781848, 9573996, ...",[9780348],9780348
244638,579248431,1521888,"[9781998, 9781947, 9780697, 9782030, 9782046, ...",[9780697],9780697